@page
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Request information" />
        </div>
    </div>
</div>
<div class="container">
    <table class="product">
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Memory</th>
            <th>StartTime</th>
        </tr>
    </table>
</div>
<div>

</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>